In [18]:
import pandas as pd
#xls = pd.ExcelFile("/home/nagendra/Desktop/RPT_SM_30072020REQ Response - devtest39.xlsx")
df = pd.read_excel("/home/nagendra/Desktop/RPT_SM_30072020REQ Response - devtest39.xlsx",sheet_name=None)
#df1 = pd.concat(df, axis=0, ignore_index=True)
df

{'Sheet1':    CUSTOMERID  score
 0      100710    632
 1      100711    620
 2      100712    572
 3      100723    606,
 'Sheet2':     CUSTOMERID ACCOUNT_NB M_SUB_ID  ACCT_TYPE_CD     OPEN_DT  \
 0       100710       XXXX      COB           191  03/06/2015
 1       100710       XXXX      COB           999  27/07/2016
 2       100710       XXXX      NBF           189  12/03/2019
 3       100710       XXXX      NBF           189  09/04/2019
 4       100710       XXXX      NBF           228  06/06/2017
 5       100710       XXXX      NBF           228  31/01/2018
 6       100710       XXXX      NBF           123  02/05/2019
 7       100710       XXXX      NBF           123  12/03/2019
 8       100710       XXXX      NBF           123  29/03/2019
 9       100710       XXXX      NBF           123  17/04/2019
 10      100710       XXXX      NBF           123  07/05/2019
 11      100710       XXXX      NBF           123  15/06/2019
 12      100711       XXXX      PVT             5  27/09/2019
 13      100711       XXXX      PVT             5  30/06/2019
 14      100711       XXXX      NBF           189  25/09/2019
 15      100711       XXXX      NBF           189  27/09/2019
 16      100711       XXXX      NBF           191  10/12/2018
 17      100711       XXXX      NBF           123  26/08/2019
 18      100711       XXXX      NBF           189  25/06/2019
 19      100711       XXXX      NBF           189  10/09/2019
 20      100711       XXXX      NBF           189  18/09/2019
 21      100711       XXXX      NBF           123  17/08/2019
 22      100711       XXXX      NBF           123  22/08/2019
 23      100712       XXXX      FOR           189  06/03/2008
 24      100712       XXXX      NBF           189  05/08/2019
 25      100712       XXXX      NBF           189  25/09/2019
 26      100712       XXXX      PVT           173  19/10/2016
 27      100712       XXXX      NBF           189  26/11/2016
 28      100712       XXXX      NBF           221  10/10/2017

     ACTUAL_PAYMENT_AM ASSET_CLASS_CD  BALANCE_AM  BALANCE_DT  CHARGE_OFF_AM  \
 0                 NaN              S         0.0  31/07/2016            0.0
 1                 NaN              S    133246.0  31/07/2016            0.0
 2                 NaN            NaN      6995.0  30/04/2020            NaN
 3                 NaN            NaN     11994.0  30/04/2020            NaN
 4                 NaN            NaN         NaN  30/09/2018            NaN
 5                 NaN            NaN      2250.0  30/11/2018            NaN
 6                 NaN              S     24227.0  30/04/2020            NaN
 7                 NaN              S         0.0  31/03/2019            NaN
 8                 NaN              S      5074.0  31/03/2019            NaN
 9                 NaN              S         0.0  31/05/2019            NaN
 10                NaN              S         0.0  30/06/2019            NaN
 11                NaN              B      5148.0  31/05/2020            0.0
 12                NaN            NaN    107241.0  31/05/2020            NaN
 13                0.0            NaN    124734.0  31/05/2020            NaN
 14                NaN            NaN         0.0  30/09/2019            NaN
 15                NaN            NaN      3500.0  30/09/2019            NaN
 16           151600.0            NaN         0.0  25/06/2019            NaN
 17                NaN              S         0.0  31/12/2019            NaN
 18                NaN            NaN     12122.0  30/04/2020            NaN
 19                NaN            NaN     29990.0  30/04/2020            NaN
 20                NaN            NaN     24099.0  30/04/2020            NaN
 21                NaN              S         0.0  30/04/2020            NaN
 22                NaN              S         NaN  31/10/2019            0.0
 23             2801.0            NaN     44341.0  31/05/2020        44341.0
 24            12870.0            NaN      1430.0  31/05/2020            NaN
 25            15190.0            NaN      2170.0  31/05/2020            NaN
 26             2489.0              S         0.0  31/10/2018            NaN
 27            12200.0            NaN         0.0  30/09/2017            NaN
 28           220000.0            NaN         0.0  30/04/2020            NaN

     ... DAYS_PAST_DUE_15  DAYS_PAST_DUE_16  DAYS_PAST_DUE_17  \
 0   ...              0.0               0.0               0.0
 1   ...              0.0               0.0               0.0
 2   ...              NaN               NaN               NaN
 3   ...              NaN               NaN               NaN
 4   ...              NaN               NaN               NaN
 5   ...              NaN               NaN               NaN
 6   ...              NaN               NaN               NaN
 7   ...              NaN               NaN               NaN
 8   ...              NaN               NaN               NaN
 9   ...              NaN               NaN               NaN
 10  ...              NaN               NaN               NaN
 11  ...              NaN               NaN               NaN
 12  ...              NaN               NaN               NaN
 13  ...              NaN               NaN               NaN
 14  ...              NaN               NaN               NaN
 15  ...              NaN               NaN               NaN
 16  ...              NaN               NaN               NaN
 17  ...              NaN               NaN               NaN
 18  ...              NaN               NaN               NaN
 19  ...              NaN               NaN               NaN
 20  ...              NaN               NaN               NaN
 21  ...              NaN               NaN               NaN
 22  ...              NaN               NaN               NaN
 23  ...            180.0               NaN               NaN
 24  ...              NaN               NaN               NaN
 25  ...              NaN               NaN               NaN
 26  ...              0.0               0.0               0.0
 27  ...              0.0               0.0               0.0
 28  ...              NaN               0.0               0.0

     DAYS_PAST_DUE_18 DAYS_PAST_DUE_19  DAYS_PAST_DUE_20  DAYS_PAST_DUE_21  \
 0                0.0              0.0               0.0               0.0
 1                0.0              0.0               0.0               0.0
 2                NaN              NaN               NaN               NaN
 3                NaN              NaN               NaN               NaN
 4                NaN              NaN               NaN               NaN
 5                NaN              NaN               NaN               NaN
 6                NaN              NaN               NaN               NaN
 7                NaN              NaN               NaN               NaN
 8                NaN              NaN               NaN               NaN
 9                NaN              NaN               NaN               NaN
 10               NaN              NaN               NaN               NaN
 11               NaN              NaN               NaN               NaN
 12               NaN              NaN               NaN               NaN
 13               NaN              NaN               NaN               NaN
 14               NaN              NaN               NaN               NaN
 15               NaN              NaN               NaN               NaN
 16               NaN              NaN               NaN               NaN
 17               NaN              NaN               NaN               NaN
 18               NaN              NaN               NaN               NaN
 19               NaN              NaN               NaN               NaN
 20               NaN              NaN               NaN               NaN
 21               NaN              NaN               NaN               NaN
 22               NaN              NaN               NaN               NaN
 23               NaN              NaN               NaN               NaN
 24               NaN              NaN               NaN               NaN
 25               NaN              NaN               NaN               NaN
 26               0.0              0.0               0.0               0.0
 27               0.0              0.0               0.0               0.0
 28               0.0              0.0               0.0               0.0

    DAYS_PAST_DUE_22  DAYS_PAST_DUE_23  DAYS_PAST_DUE_24
 0               0.0               0.0               0.0
 1               0.0               0.0               0.0
 2               NaN               NaN               NaN
 3               NaN               NaN               NaN
 4               NaN               NaN               NaN
 5               NaN               NaN               NaN
 6               NaN               NaN               NaN
 7               NaN               NaN               NaN
 8               NaN               NaN               NaN
 9               NaN               NaN               NaN
 10              NaN               NaN               NaN
 11              NaN               NaN               NaN
 12              NaN               NaN               NaN
 13              NaN               NaN               NaN
 14              NaN               NaN               NaN
 15              NaN               NaN               NaN
 16              NaN               NaN               NaN
 17              NaN               NaN               NaN
 18              NaN               NaN               NaN
 19              NaN               NaN               NaN
 20              NaN               NaN               NaN
 21              NaN               NaN               NaN
 22              NaN               NaN               NaN
 23              NaN               NaN               NaN
 24              NaN               NaN               NaN
 25              NaN               NaN               NaN
 26              0.0               0.0               0.0
 27              0.0               0.0               0.0
 28              0.0               0.0               0.0

 [29 rows x 167 columns]}

In [11]:
df.head(3)

   CUSTOMERID  score
0      100710    632
1      100711    620
2      100712    572